.card_container {
    box-shadow: 2px 2px 1px #2f3e46;
    overflow: auto;
    display: grid;
    grid-template-rows: 85% 15%;
}

.cardHeader {
    align-items: initial !important;
    padding: 8px 16px 4px 16px !important;
}

.card_content {
    padding: 8px 16px !important;
    display: flex;
    flex-direction: column;
}

.card_actions {
    padding: 0px 16px !important;
    justify-content: end;
    margin-bottom: 8px
}

.character_container {
    padding-left: 16px;
    padding-right: 16px;

}