.cardHeader {
    align-items: initial !important;
    padding: 8px 16px 4px 16px !important;
}

.img {
    width: 180px;
    height: 180px;
    object-fit: fill;
}

.saving_throws {
    display: flex;
    justify-content: space-between;

    &>div>p {
        font-size: 12px;
    }
}